* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

#navbarHeader {
  position: fixed;
  top: -1px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 9;
}

#navbarHeader img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 50px;
}

#navbarHeader #headMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#navbarHeader #headMenu a {
  color: #000;
  transition: all .2s;
  text-decoration: none;
  margin-right: 20px;
}

#navbarHeader #headMenu a:hover {
  color: #fb4226;
}

#navbarHeader .right {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

#navbarHeader .right div {
  display: table-cell;
  vertical-align: middle;
}

#navbarHeader #account {
  position: relative;
  padding-right: 11px;
  cursor: pointer;
  height: 120px;
}

#navbarHeader #account::after {
  content: '';
  position: absolute;
  right: 0;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #fff;
  border-right-color: #e9e9e9;
}

#navbarHeader #account .titleDisplay {
  color: #9b9b9b;
  margin: inherit;
}

#navbarHeader #account .titleDisplay .white {
  margin: 0;
}

#navbarHeader .imgCircle img {
  height: auto;
  width: 30px;
  border-radius: 25px;
  margin-right: 5px;
}

.carousel-item .img {
  background-size: cover;
  background-position: center;
  height: 550px;
}

.carousel-item .item1 {
  background-image: url(../../img/bo-gia.png);
}

.carousel-item .item2 {
  background-image: url(../../img/gai-gia-lam-chieu.jpg);
}

.carousel-item .item3 {
  background-image: url(../../img/mo-mat-thay-hom-qua.jpg);
}

.carousel-indicators {
  bottom: 50px;
}

#homeTools {
  display: block;
  max-width: 940px;
  margin: auto;
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  z-index: 2;
}

#homeTools .w30p {
  width: 30% !important;
}

#homeTools .widthByPercent {
  width: 20%;
  float: left;
  position: relative;
  height: 100%;
}

#homeTools .widthByPercent::after {
  content: '';
  position: absolute;
  right: 0;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #fff;
  border-right-color: rgba(238, 238, 238, 0.88);
}

#homeTools .smallBlock {
  width: calc(70% / 4);
}

#homeTools .selectMenu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  width: 100%;
  padding: 7%;
  background-image: url(../../img/dropdown-icon.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 8px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px;
}

#homeTools .dropdown-menu {
  top: 75%;
}

#homeTools .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.56);
  border-radius: 4px;
  box-shadow: 0 6px 12px #979797;
}

#homeTools .selectScroll {
  max-height: 300px;
  overflow-y: scroll;
}

#homeTools #btnBuy {
  background-color: #4a4a4a;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 25px;
}

#homeTools .btn-primary {
  color: #fff;
}

#footer {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #949494;
}

.block {
  padding-left: 0;
  padding-right: 0;
}
/*# sourceMappingURL=main.css.map */