
.carousel-item{

    .img{

        background-size: cover;
        background-position: center;
        height: 550px;

    }

    .item1{
        
        background-image: url(../../img/bo-gia.png);

    }

    .item2{

        background-image: url(../../img/gai-gia-lam-chieu.jpg);

    }

    .item3{

        background-image: url(../../img/mo-mat-thay-hom-qua.jpg);

    }
    
}

.carousel-indicators {

    bottom: 50px;
    
}
